In [29]:
import pandas as pd
import numpy as np
import plotly.express as px

In [31]:
def clean_dataset(df):
    df_t = df.T
    new_header = df_t.iloc[0] # setting first row as header
    
    df_t = df_t[1:]
    df_t.columns = new_header
    
    df_t.columns = df_t.columns.str.lstrip() # strip leading spaces  
    return df_t

In [33]:
def load(file_path, sheet_name):
    return pd.read_excel(file_path, sheet_name)

# Cleaning quarterly dataset

In [65]:
df = load('cpiapr24.xlsx','T5_edit')

In [67]:
df.head(3)

,Variables,1961 Q1,1961 Q2,1961 Q3,1961 Q4,1962 Q1,1962 Q2,1962 Q3,1962 Q4,1963 Q1,...,2021 Q4,2022 Q1,2022 Q2,2022 Q3,2022 Q4,2023 Q1,2023 Q2,2023 Q3,2023 Q4,2024 Q1
0,All Items,24.564,24.154,24.395,24.49,24.616,24.357,24.482,24.597,25.134,...,103.783,105.514,107.605,109.679,110.679,112,113.093,114.164,115.121,115.335
1,Food,21.786,21.127,21.509,21.665,21.844,21.429,21.617,21.805,22.647,...,104.131,105.518,107.804,110.196,111.732,113.935,114.933,115.474,116.148,117.769
2,Food Excl Food Serving Services,na,na,na,na,na,na,na,na,na,...,105.64,107.047,109.02,111.364,112.919,114.913,115.628,116.007,116.452,117.298

In [69]:
df = clean_dataset(df)

In [71]:
df.fillna(value=0,axis=0,inplace=True)

In [73]:
df.isna().sum()

Variables
All Items                                                          0
Food                                                               0
Food Excl Food Serving Services                                    0
Bread & Cereals                                                    0
Rice                                                               0
                                                                  ..
Other Personal Effects                                             0
Social Services                                                    0
Other Miscellaneous Services                                       0
All Items Less Imputed Rentals On Owner-occupied Accommodation3    0
All Items Less Accommodation3                                      0
Length: 152, dtype: int64

In [75]:
df.to_csv('cpi-quarterly.csv')

# Cleaning yearly dataset

In [77]:
df = load('cpiapr24.xlsx','T3_edit')

In [79]:
df.head()

,Variables,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,All Items,24.401,24.513,25.033,25.448,25.513,26.028,26.874,27.058,26.989,...,99.483,98.963,98.436,99.004,99.438,100.0,99.818,102.119,108.37,113.595
1,Food,21.522,21.674,22.468,23.034,22.926,23.565,24.68,24.725,24.25,...,92.059,93.833,95.759,97.104,98.498,100.0,101.862,103.326,108.813,115.122
2,Food Excl Food Serving Services,na,na,na,na,na,na,na,na,na,...,93.058,94.198,96.366,97.608,98.87,100.0,102.898,104.546,110.088,115.75
3,Bread & Cereals,na,na,na,na,na,na,na,na,na,...,94.121,95.333,96.535,97.127,98.501,100.0,101.93,102.592,106.683,113.923
4,Rice,na,na,na,na,na,na,na,na,na,...,95.516,94.643,95.374,94.898,96.202,100.0,101.754,99.802,98.426,101.378

In [81]:
df = clean_dataset(df)

In [83]:
df.head()

Variables,All Items,Food,Food Excl Food Serving Services,Bread & Cereals,Rice,Flour,Bread,Noodles & Pasta,Biscuits & Cookies,Cakes & Pastries,...,Spirits & Wine,Beer,Cigarettes,Personal Effects,Jewellery & Watches,Other Personal Effects,Social Services,Other Miscellaneous Services,All Items Less Imputed Rentals On Owner-occupied Accommodation3,All Items Less Accommodation3
1961,24.401,21.522,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1962,24.513,21.674,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1963,25.033,22.468,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1964,25.448,23.034,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
1965,25.513,22.926,na,na,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na

In [87]:
df.fillna(value=0,axis=0,inplace=True)

In [91]:
df.isna().sum()

Variables
All Items                                                          0
Food                                                               0
Food Excl Food Serving Services                                    0
Bread & Cereals                                                    0
Rice                                                               0
                                                                  ..
Other Personal Effects                                             0
Social Services                                                    0
Other Miscellaneous Services                                       0
All Items Less Imputed Rentals On Owner-occupied Accommodation3    0
All Items Less Accommodation3                                      0
Length: 152, dtype: int64

In [93]:
df.to_csv('cpi-yearly.csv')

In [95]:
df.index

Index([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023],
      dtype='object')

# Categories

In [101]:

# Define category structure
def get_categories():
    return {
        'Food': [
            'Food Excl Food Serving Services', 'Bread & Cereals', 'Rice', 'Flour', 'Bread', 'Noodles & Pasta', 'Biscuits & Cookies',
            'Cakes & Pastries', 'Other Cereals', 'Meat', 'Pork, Chilled', 'Beef, Chilled', 'Mutton, Chilled', 'Poultry, Chilled',
            'Meat, Frozen', 'Meat Preparations', 'Fish & Seafood', 'Fish, Chilled', 'Fish, Frozen', 'Other Seafood', 'Seafood Preparations',
            'Milk, Cheese & Eggs', 'Formula Milk Powder', 'Other Milk & Dairy Products', 'Eggs', 'Oils & Fats', 'Butter & Other Fats',
            'Cooking Oils', 'Fruits', 'Tropical Fruits, Fresh', 'Citrus, Berries & Other Fruits, Fresh', 'Preserved Fruits & Nuts',
            'Vegetables', 'Leafy Vegetables, Fresh', 'Fruit Vegetables, Fresh', 'Root Vegetables, Fresh', 'Other Vegetables & Preparations',
            'Sugar, Preserves & Confectionery', 'Sugar', 'Confectionery & Ice-cream', 'Sugar Preserves & Spread', 'Non-alcoholic Beverages',
            'Coffee & Tea', 'Soft Drinks', 'Other Beverages', 'Other Food'
        ],
        'Food Serving Services': [
            'Restaurant Food', 'Fast Food', 'Hawker Food', 'Hawker Centres', 'Food Courts & Coffee Shops', 'Catered Food'
        ],
        'Clothing & Footwear': [
            'Clothing', 'Men\'s Clothing', 'Women\'s Clothing', 'Children\'s Clothing', 'Other Articles & Related Services', 'Footwear',
            'Men\'s Footwear', 'Women\'s Footwear', 'Children\'s Footwear'
        ],
        'Housing & Utilities': [
            'Accommodation3', 'Utilities & Other Fuels', 'Water Supply', 'Refuse Collection', 'Electricity', 'Gas'
        ],
        'Household Durables & Services': [
            'Household Durables', 'Furniture', 'Furnishings', 'Other Household Textiles', 'Household Appliances', 'Utensils & Others',
            'Household Services & Supplies', 'Non-durable Household Goods', 'Domestic & Household Services'
        ],
        'Health Care': [
            'Medicines & Health Products', 'Medicines & Vitamins', 'Medical Products', 'Outpatient Services', 'Fees At Polyclinics',
            'Fees At General Practitioners (GP) Clinics', 'Fees At Specialist Outpatient Clinics', 'Dental Services', 'Paramedical Services',
            'Hospital Services', 'Health Insurance'
        ],
        'Transport': [
            'Private Transport', 'Cars', 'Motorcycles', 'Petrol', 'Other Private Transport', 'Public Transport', 'Bus & Train Fares',
            'Point-to-point Transport Services2', 'Other Public Transport', 'Other Transport Services', 'Air Fares', 'Other Transport'
        ],
        'Communication': [
            'Postage & Courier Services', 'Telecommunication Equipment', 'Telecommunication Services'
        ],
        'Recreation & Culture': [
            'Recreational & Cultural Goods', 'Information Processing Equipment', 'Audio-visual Equipment & Others', 'Games & Toys',
            'Pets & Related Products', 'Other Recreational & Cultural Goods', 'Recreational & Cultural Services', 'Sport Services & Other Fees',
            'Cinema Tickets', 'Charges To Places Of Interest', 'Other Recreational & Cultural Services'
        ],
        'Newspapers, Books & Stationery': [
            'Newspapers & Magazines', 'Books & Stationery'
        ],
        'Holiday Expenses': [
            'Package Tours', 'Hotels & Other Expenses'
        ],
        'Education': [
            'Tuition & Other Fees', 'Primary Education', 'Secondary Education', 'Other General, Vocational & Higher Education',
            'Enrichment & Supplementary Courses', 'Textbooks & Study Guides'
        ],
        'Miscellaneous Goods & Services': [
            'Personal Care', 'Hairdressing', 'Personal Grooming Services', 'Other Personal Care', 'Alcoholic Drinks & Tobacco',
            'Spirits & Wine', 'Beer', 'Cigarettes', 'Personal Effects', 'Jewellery & Watches', 'Other Personal Effects', 'Social Services',
            'Other Miscellaneous Services', 'All Items Less Imputed Rentals On Owner-occupied Accommodation3', 'All Items Less Accommodation3'
        ]
    }

In [113]:
get_categories().keys()

dict_keys(['Food', 'Food Serving Services', 'Clothing & Footwear', 'Housing & Utilities', 'Household Durables & Services', 'Health Care', 'Transport', 'Communication', 'Recreation & Culture', 'Newspapers, Books & Stationery', 'Holiday Expenses', 'Education', 'Miscellaneous Goods & Services'])

In [117]:
[x for x in df.index]

[1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]